<%- include('header-sidebar.ejs') %>

	<main class="main">
		<div class="container-fluid">
			<div class="row row--grid">
				<div class="col-12">
					<ul class="breadcrumb">
						<li class="breadcrumb__item"><a href="/">Home</a></li>
                        <li class="breadcrumb__item"><a href="/Login">Sign in</a></li>
						<li class="breadcrumb__item breadcrumb__item--active">Forgot Password</li>
					</ul>
				</div>

				<div class="col-12" style="margin-top: 50px; margin-bottom: 100px">
					<div class="sign">
						<div class="sign__content">
							<form action="#" class="sign__form">
								<a href="/" class="sign__logo">
									<img src="img/logoGhant.svg" alt="">
								</a>
                            
                                <span class="sign__text" style="margin-bottom: 20px; margin-top: 5px;">Enter Email Verify</span>

								<div class="sign__group">
									<input type="text" class="sign__input" placeholder="Email" id="emailInput">
								</div>

								<div>
									<p id="msgErr" style="color: red"></p>
								</div>

								<button class="sign__btn" type="button" id="send_btn">Send</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
	<script src="../public/js/mainForgotPassword.js"></script>
<%- include('footer.ejs') %>