<%- include('header-sidebar.ejs') %>

	    <main class="main">
            <div class="container-fluid">
                <div class="row row--grid">
                    <!-- registration form -->
                    <div class="col-12" style="margin-bottom: 100px; margin-top: 20px">
                        <div class="sign">
                            <div class="sign__content">
                                <form action="#" class="sign__form">
                                    <a href="/" class="sign__logo">
                                        <img src="../public/img/logoGhant.svg" alt="">
                                    </a>
    
                                    <div class="sign__group">
                                        <input type="text" class="sign__input" placeholder="Email" id="emailInput" disabled>
                                    </div>
    
                                    <div class="sign__group">
                                        <input type="password" class="sign__input" placeholder="New Password" id="newPasswordInput">
                                    </div>

                                    <div class="sign__group">
                                        <input type="password" class="sign__input" placeholder="Comfirm New Password" id="comfirmNewPasswordInput">
                                    </div>

                                    <div>
                                        <p id="msgErr" style="color: red"></p>
                                    </div>
    
                                    <button class="sign__btn" type="button" id="submit_btn">Submit</button>

                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- end registration form -->
                </div>
            </div>
        </main>

        <script src="../public/js/mainResetPassword.js"></script>
<%- include('footer.ejs') %>