.hints {
    position: absolute;
    top: 100%;
    left: 0;
    width: 50%;
    background-color: #443e3e;
    border: 1px solid #867878;
    max-height: 300px;
    overflow-y: auto;
    display: none;
}

/* .hint-item {
    padding: 8px;
    cursor: pointer;
    color: #f0f0f0;
}

.hint-item a:hover {
    color: #25a56a;
} */

/* .hint-item:hover {
    background-color: rgb(66, 58, 58);
} */

.single-item__cover {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    overflow: hidden;
    transition: 0.5s ease;
}

.single-item__cover img {
    width: 48px;
    height: auto;
    opacity: 1;
    transition: opacity 0.5s ease;
    position: relative;
}

.single-item__cover svg {
    position: absolute;
    opacity: 0;
    fill: #fff;
    width: 24px;
    height: auto;
    margin: 1px 0 0 1px;
    transition: 0.5s ease;
}

.single-item__cover svg:last-child {
    opacity: 0;
}

.single-item__cover:hover svg {
    fill: #25a56a;
}

.single-item__cover.active {
    background-color: #000;
}

.single-item__cover.active img {
    opacity: 0.35;
}

.single-item__cover.active svg {
    fill: #25a56a;
}

.single-item__cover.pause svg {
    opacity: 1;
}

.single-item__cover.pause svg:last-child {
    opacity: 0;
}

.single-item__cover.play svg {
    opacity: 0;
}

.single-item__cover.play svg:last-child {
    opacity: 1;
}